 {% extends 'base.html' %}
 {% load static %}

 {% block title %}
 Passenger cabin
 {% endblock title %}

{% block container %}
        <main id="rent_page" class="page">
            <a href="cart.html" class="cart_button">
                <div class="cart">
                    <p>0</p>
                </div>
            </a>
            <section id="rent_section">
                <div class="dark_blackout common_padding_under_header">
                    <h2>Our offers // <span>Passenger cabin</span></h2>
                     <div class="marketplace">
                        {% for machines in used_machines_models %}
                            {% if machines.category.id == 4 %}
                        <div class="offer" id={{machines.title}}>
                            <a href="{% url 'card' machines.id %}"><img class="ad_picture" src={{machines.cover}}></a>
                            <div class="ad_block">
                                <h3>{{machines.title}}</h3>
                                <div class="peculiarities_list">
                                    {% for key,value in machine_options.items %}
                                    {% if key == machines.title %}
                                    {% for option in value %}
                                    <div>
                                        <img src="{% static '/img/check_mark_icon_red.png' %}">
                                        <p>{{option}}</p>

                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="price">
                                    <h5>Price:</h5>
                                    <h5>{{machines.price}}$</h5>

                                </div>

                                <a href="{% url 'card' machines.id %}" class="offer_button">More</a>

                            </div>
                        </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </section>


        </main>



 {% endblock container %}